

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
section {
    background-color: grey;
    border-radius: 10px;
    height: 500px;
}
section h2 {
    text-align: center;
    padding-top: 10px;
}
.container {
    display: flex;
    
}

.cuadrado {
    background-color: #c2c2c2;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.triangulo {
    background-color: #c2c2c2;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;

}
.circulo {
    background-color: #c2c2c2;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
}