input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.footer {
    background: grey;
}
.footer h5 {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}
.footer nav ul{
    display: flex;
    justify-content: center;
}
.footer nav ul li {
    margin: 0 30px; 
    margin-bottom: 10px;
    list-style-type: none;
}
.footer nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
